.navbar{
    background: #fff;
    border-radius: 4px;
}

.nav-link{
    margin-top: 4px !important;
    margin-bottom: 4px !important;
}

.brief-menu{
    display: flex;
    justify-content: space-between;
}

#image-brief1{
    width: 250px;
    object-fit: cover;
    border-radius: 7px;
    margin-top: 10%;
}

.exp{
    padding-top: 12%;
    margin-right: 50px;
}

.exp h1{
    font-weight: bold;
}

.custom-carousel-controls {
    position: absolute;
    width: 100%;
    top: 50%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.custom-control-btn {
    background-color: #007bff;  /* Bootstrap primary color */
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.custom-control-btn:hover {
    background-color: #0056b3;  /* Darker shade of primary color */
}

#contact-me{
    margin: 5% auto;
}

#contact-me h1{
    margin-bottom: 8%;
    font-weight: bold;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background: #fff;
    color: black;
    border-bottom: 1px solid black;
    border-radius: 0;
}

.nav-link{
    color: black;
}

.nav-link:hover{
    color: black;
}