.navbar{
    background: #fff;
    border-radius: 4px;
}

.nav-link{
    margin-top: 4px !important;
    margin-bottom: 4px !important;
}

.brief-menu{
    display: flex;
    justify-content: space-between;
}

#image-brief1{
    width: 250px;
    object-fit: cover;
    border-radius: 7px;
    margin-top: 10%;
}

.exp{
    padding-top: 12%;
    margin-right: 50px;
}

.exp h1{
    font-weight: bold;
}